#FastAPI:ヘッダx-api-keyでの認証を有効化する場合に使います。
API_KEY=fastapi
#FastAPI:リッスンポートを指定します。（デフォルト:8000）
FASTAPI_PORT=8000
#FastAPI:バインドアドレスを指定します。（デフォルト:0.0.0.0）
FASTAPI_HOST=0.0.0.0
#FastAPI:コード更新による自動リロード
FASTAPI_RELOAD=True
#データベース:種類（コネクタ）を指定します
DB_DRIVER=mysql
#データベース:サーバホスト
DB_HOST=mysql
#データベース:サーバ接続ポート
DB_PORT=3306
#データベース名
DB_NAME=app_db
#データベース:ユーザー
DB_USER=fastapi
#データベース:パスワード
DB_PASSWORD=fastapi
#データベース:SQLのエコー表示
DB_ECHO=True
#Firebase:エミュレータのホスト指定
#主にFireBase Authenticatrion Emulator(認証)で使っていますが、
#エミュレータを使用しない場合はコメントアウトしてください。
FIREBASE_EMULATOR_HOST=firebase
#Firebase:APIキー
#オンラインがわのFirebaseと連携した機能を使用するのに必要です。
#エミュレータ接続時には内部的に"fake-api-key"に固定されます。
FIREBASE_API_KEY=AIzaSyDVAYPiO12Sq5IOK5iA4I7LEYK8gEUn0RQ
